/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --header-title-color: #FFC2E6;
  --decor-text-color:#353430;
  --page-background-url:  url(../images/cover-image-light.png);
  --section-text-color: #353430;
  --background-color-page: #FFF1F7;
  --menu-color: #353430;
  --menu-color-hover: rgba(50, 49, 45, 0.4);
  --footer-shadow: #FF0070;
}

.theme-light .page {
  .header__rec {
  display: none;
  }

  .footer__title {
    text-shadow: 4px 4px 0 var(--footer-shadow);
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --header-title-color: #FFC2E6;
    --decor-text-color:#353430;
    --page-background-url:  url(../images/cover-image-light.png);
    --section-text-color: #353430;
    --background-color-page: #FFF1F7;
    --menu-color: #353430;
    --menu-color-hover: rgba(50, 49, 45, 0.4);
  }
  
   .page {
    .header__rec {
    display: none;
    }
  
    .footer__title {
      text-shadow: 4px 4px 0  var(--footer-shadow);
    }
  }
}