/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: IBM Plex Mono;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  background-color: var(--background-color-page);
}

.header {
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  background-image: var(--page-background-url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.header__rec {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: var(--menu-color);
  position: absolute;
  top: 10px;
  right: 19px;
}

.header__rec::after {
  content: "";
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--menu-color);
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 0 2px 3px var(--menu-color);
}

.decorated-zone::after,
.decorated-zone::before {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
}

 .decorated-zone::before {
    right: 10px;
    top: 10px;
    border-top: 1px var(--menu-color) solid;
    border-right: 1px var(--menu-color) solid;
}

 .decorated-zone::after {
    left: 10px;
    bottom: 10px;
    border-bottom: 1px var(--menu-color) solid;
    border-left: 1px var(--menu-color) solid;
}

.header__theme-menu {
  color: var(--menu-color);
  margin-block-start: 65px;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}



.header__theme-menu-button  {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 70px;
  block-size: 26px;
  font-family: IBM Plex Mono;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button:hover {
  border: 1px var(--menu-color-hover) solid;
}

.header__theme-menu-button:focus{
  border-bottom: 1px var(--menu-color) solid;
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px var(--menu-color) solid;
}

.header__title {
  color: var(--header-title-color);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--header-title-height);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-start: 65px;
}

.header__p {
  font-weight: var(--font-weight-bold);
  margin-block-start: 55px;
  margin-block-end: 57px;
}

.title-decor {
  color: var(--decor-text-color);
  background-color: var(--accent-color);
}

/*----------------------------------*/

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 0 10px;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.section h2, h3{
  color:  var(--menu-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.section h4{
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.section_text {
  color: var(--section-text-color);
  
}

.text__link {
  text-decoration: none;
  text-shadow:  0.1em 0.1em 0 var(--accent-color);
}

.text__link:hover {
  text-decoration: underline;
  text-shadow: 0.1em 0.1em 0 var(--accent-color);
}

.text__link:focus {
  border: 1px var(--section-text-color) solid;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0 var(--accent-color);
}

.section h3 ~ h4 {
  margin-block-start: 10px;
}

.img_section {
  gap: 10px;
}

.img_section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*----------------------------------*/

.footer {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 286px 0;
}

.footer__title {
  color: var(--header-title-color);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--header-title-height);
  text-shadow: 4px 4px 0 var(--accent-color);
}



@media (width >= 768px) {
  .header {
    padding: 0px;
  }
  .decorated-zone::before {
    right: 20px;
    top: 20px;
}

 .decorated-zone::after {
    left: 20px;
    bottom: 20px;
}
.header__rec {
  top: 20px;
  right: 29px;
}
.header__theme-menu {
  margin-block-start: 192px;
  margin-inline-end: 20px;
}


.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin-block-start: 176px;
}

.header__p {
  inline-size: 364px;
  block-size: 117px;
  margin-block-start: 162px;
  margin-block-end: 183px;
  margin-inline-end: 20px;
  justify-self: end;
}

  .main {
    padding: 20px;
    gap: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .article {
    grid-column: 2;
  }

  .even_section{
    .article {
      grid-column: 1 / span 2;
    }
  }

  .img_section {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow:dense;
    gap: 20px;
  }
  .img_section .section_title {
    grid-column: 1 / span 3;
  }
  .img_sunset {
    grid-column: 1 / span 2;
  }
  .img_ice-cream{
    grid-column: 3 ;
    grid-row: 2 / span 2;
  }
  .img_tape {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
  }
  .img_street {
    grid-column: 2 / span 2;
  }

  .footer {
    padding: 464px 0;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-block-start: 20px;
    margin-inline-end: 0px;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .header__title {
    margin-block-start: 293px;
  }
  .header__p {
    inline-size: 491px;
    block-size: 71px;
    margin-block-start: 127px;
    margin-block-end: 134px;
  }


.section{
  column-gap: 10px;
}
.article {
  grid-column: 2 ;
}

.even_section{
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  .article {
    grid-row: 2;
    grid-column: span 1;

    grid-template-rows: max-content;
  }
}

.img_section {

  gap: 20px;
}

.footer {
  padding: 336px 0;
}

}